:root {
  --orange-bg-color: hsl(31, 77%, 52%);
  --middle-column-bg-color: hsl(184, 100%, 22%);
  --last-coloumn-bg-color: hsl(179, 100%, 13%);
  --paragraph-color: hsla(0, 0%, 100%, 0.75); /* * paragraphs */
  --light-grey: hsl(0, 0%, 95%); /* * background, heading, buttons */
}

body {
  max-height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey);
  color: var(--paragraph-color);
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
}

.container {
  width: 85%;
  max-width: 500px;
}
.container .box {
  border-radius: 0.5em;
  box-sizing: border-box;
  overflow: hidden;
}
.first--coloumn {
  background-color: var(--orange-bg-color);
}

.middle__coloumn {
  background-color: var(--middle-column-bg-color);
}
.last__coloumn {
  background-color: var(--last-coloumn-bg-color);
}
.card__heading {
  color: var(--very-light-gray);
  font-family: "Big Shoulders Display", cursive;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 1em;
}
.card__button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  background-color: var(--light-gray);
  padding: 0.7em 2em;
  margin-top: 2em;
  border-radius: 5em;
  transition: border 0.1s ease-in-out;
}
.card--orange .card__button {
  color: var(--orange-bg-color);
}
.card--middle-column-bg-color .card__button {
  color: var(--middle-column-bg-color);
}
.card--last-coloumn-bg-color .card__button {
  color: var(--last-coloumn-bg-color);
}
.card__button:hover {
  color: var(--light-gray);
  background-color: transparent;
  border: 2.5px solid var(--light-gray);
  padding: 0.53em 1.8em;
}
footer {
  position: relative;
  color: blue; /*To make the footer visible*/
  bottom: 0;
}

@media (min-width: 40em) {
  body {
    height: 100vh;
  }
}
