:root {
  --bright_orange: hsl(31, 77%, 52%); /* first_column */
  --dark_cyan: hsl(184, 100%, 22%); /* middle_column */
  --very_dark-cyan: hsl(179, 100%, 13%); /* last_column */
  --transparent_white: hsla(0, 0%, 100%, 0.75); /* paragraph */
  --very_light_gray: hsl(0, 0%, 95%); /* background, headings, button */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-size: 15px;
  font-family: "lexend", sans-serif;
  background-color: var(--very_light_gray);
  margin: 0;
  padding: 0;
}
a,
a:visited,
a:focus,
a:active {
  text-decoration: none;
  color: rgb(70, 500, 500);
}
.container {
  width: clamp(375px, 84%, 1440px);
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  box-sizing: border-box;
}
.box {
  position: relative;
  overflow: hidden;
}
.first_column {
  border-radius: 10px 0px 0px 10px;
  background-color: var(--bright_orange);
}
.middle_coloumn {
  background-color: var(--dark_cyan);
}
.last_coloumn {
  background-color: var(--very_dark-cyan);
  border-radius: 0px 10px 10px 0px;
}
.card_logo {
  margin: 30px;
  position: relative;
  left: 20px;
}
.heading {
  position: relative;
  left: 50px;
  margin: 0px;
  padding: 0;
  font-size: 40px;
  z-index: 1;
  opacity: 0.9;
  font-family: "Big Shoulders Display", cursive;
  color: var(--very_light_gray);
}
.card_info {
  margin: 60;
  padding: 0;
  position: relative;
  left: 50px;
  line-height: 25px;
  color: var(--transparent_white);
  padding-bottom: 1.5rem;
}
button {
  margin: 40px;
  background-color: var(--very_light_gray);
  border-radius: 100px;
  border: 2px solid var(--very_light_gray);
  padding: 0.7rem 1.5rem;
}
.button--first_coloumn {
  color: var(--bright_orange);
}
.button--first_coloumn:hover {
  background-color: var(--bright_orange);
  color: var(--transparent_white);
}
.button--middle_coloumn {
  color: var(--dark_cyan);
}
.button--middle_coloumn:hover {
  background-color: var(--dark_cyan);
  color: var(--transparent_white);
}
.button--last_coloumn {
  color: var(--very_dark-cyan);
}
.button--last_coloumn:hover {
  background-color: var(--very_dark-cyan);
  color: var(--transparent_white);
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer img {
  width: 50px;
  height: 50px;
  border: solid salmon 5px;
  border-radius: 100px;
}
