:root {
  --bright_orange: hsl(31, 77%, 52%); /* first_column */
  --dark_cyan: hsl(184, 100%, 22%); /* middle_column */
  --very_dark-cyan: hsl(179, 100%, 13%); /* last_column */
  --transparent_white: hsla(0, 0%, 100%, 0.75); /* paragraph */
  --very_light_gray: hsl(0, 0%, 95%); /* background, headings, button */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "lexend", sans-serif;
  background-color: var(--very_light_gray);
  margin: 0;
  padding: 0;
}

.hero {
  padding: 2rem;
  
}

.container {
  width: 80%;
  margin:2rem auto;
}

.row {
  display: flex;
  flex-direction:column;
}

.grid {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

img {
  max-width:100%;
}

section {
  width:100%;
  padding:2rem;
}

.first-column {
  border-radius: 10px 0px 0px 10px;
  background-color: var(--bright_orange);
}

.middle-coloumn {
  background-color: var(--dark_cyan);
}

.last-coloumn {
  background-color: var(--very_dark-cyan);
  border-radius: 0px 10px 10px 0px;
}

.card_logo {
  align-self:flex-start;
  max-width:100%;
  width:20%;
}

.heading {
  margin: 0px;
  font-size: 40px;
  opacity: 0.9;
  font-family: "Big Shoulders Display", sans-serif;
  color: var(--very_light_gray);
  padding: .5rem;
}

.card_info {
  line-height: 25px;
  color: var(--transparent_white);
  padding: .5rem;
}

button {
  width:50%;
  padding:1rem 1.5rem;
  /* margin:0 auto; */
  background-color: var(--very_light_gray);
  border-radius: 100px;
  border:0;
  transition: 0.7s;
}

.button--first-coloumn {
  color: var(--bright_orange);
}

.button--first-coloumn:hover {
  background: inherit;
  color: var(--transparent_white);
}

.button--middle-coloumn {
  color: var(--dark_cyan);
}

.button--middle-coloumn:hover {
  background:inherit;
  color: var(--transparent_white);
}
.button--last-coloumn {
  color: var(--very_dark-cyan);
}

.button--last-coloumn:hover {
  background: inherit;
  color: var(--transparent_white);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer img {
  width: 50px;
  height: 50px;
  border: solid salmon 5px;
  border-radius: 100px;
}


@media(min-width:1000px) {
  .row {
    justify-content:center;
  }
}
